profiles {

    standard {
        process.executor = 'local'
        process.publishDir = [mode: 'copy', overwrite: true]
        apptainer.enabled = true
        apptainer.autoMounts = true
    }

}


workflow {
    containerEngine = 'apptainer'
}

report {
    overwrite = true
}
timeline {
    overwrite = true
}
dag {
    overwrite = true
}
trace {
    overwrite = true
}